<ion-header>
  <ion-toolbar>
    <ion-title>Profesor</ion-title>
    <ion-button slot="end" routerLink="/login">
      <ion-icon name="log-in-outline"></ion-icon>
      Cerrar sesión
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div  class="fondo-alumno">
    <ion-card>
      <img src="../../../assets/img/duoc.png" alt="" width="100px">
      <img src="../../../assets/img/icono_profesor.png" alt="" width="200">

      <ion-button color="primary"  size="xl" class="boton">
        Código QR
      </ion-button>

    </ion-card>
  </div>
</ion-content>